{% include 'header.html' %}

<a href="/"><pre>Back to Dashboard</pre></a>

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Summary</a></li>
        <li><a href="#tabs-2">Histograms</a></li>
        <li><a href="#tabs-3">PDF Reports</a></li><!--Legacy-->
	</ul>
    <div id="tabs-1">
        <p><strong>Parameters</strong></p>
        <pre>build: <a href="http://builds.hq.northscale.net/latestbuilds/CHANGES_couchbase-server-{{ build }}.txt">{{ build }}</a></pre>
        <pre>specification: <a href="https://raw.github.com/couchbase/testrunner/master/conf/perf/{{ spec }}.conf">{{ spec }}</a></pre>
        <pre>cluster: <a href="https://raw.github.com/couchbase/testrunner/master/resources/perf/{{ ini }}.ini">{{ ini }}</a></pre>

        <p><strong>Phases</strong></p>
        {% for phase in phases %}
            <pre>{{ phase }}</pre>
        {% endfor %}

        {% if reports %}
        <p><strong>Reports</strong></p>
        {% for description, url in reports.items %}
            <pre><a href="{{ url }}" target="_blank">{{ description }}</a></pre>
        {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div id="tabs-2">
        {% for description, attachment in histograms.items %}
            <p><b>{{ description }}</b></p>
            <pre>{{ attachment }}</pre>
        {% endfor %}
    </div>
    <div id="tabs-3">
        <p><strong>Add Link:</strong></p>
        <form name="report" method="POST" action="/report">{% csrf_token %}
            <pre>Report name: <input type="text" name="description" /> URL:<input type="text" name="url" /> <input type="submit" name="submit" value="Submit" /></pre>
            <input type="hidden" name="test_id" value="{{ test_id }}">
        </form>
    </div>
</div>

{% include 'footer.html' %}
