{% include 'header.html' %}
<center>
    <div class="summary" id="summary-table">
        <p class="title">Dashboard</p>

        <table class="display" id="stats_table">
            <thead>
                <tr>
                    <th width="15%" class="left">Latest update</th>
                    <th width="23%" class="left">Test ID</th>
                    <th width="14%" class="left">Spec. name</th>
                    <th width="10%" class="left">Build</th>
                    <th width="13%" class="left">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td class="left">{{ row.timestamp }}</td>
                    <td class="left"><a href='/details?id={{ row.test_id }}'>{{ row.test_id }}</a></td>
                    <td class="left">{{ row.spec }}</td>
                    <td class="left">{{ row.build }}</td>
                    <td class="left">{{ row.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</center>
{% include 'footer.html' %}