{% include 'header.html' %}
<center>
    <div class="summary" id="summary-table">
        <p class="title">Dashboard</p>

        <table class="display" id="stats_table">
            <thead>
                <tr>
                    <th width="19%">Latest update</th>
                    <th width="25%">Test ID</th>
                    <th width="14%">Spec. name</th>
                    <th width="14%">Cluster</th>
                    <th width="14%">Build</th>
                    <th width="14%">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ row.timestamp }}</td>
                    <td><a href='/details?id={{ row.test_id }}'>{{ row.test_id }}</a></td>
                    <td>{{ row.spec }}</td>
                    <td>{{ row.ini }}</td>
                    <td>{{ row.build }}</td>
                    <td>{{ row.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</center>
{% include 'footer.html' %}